@import url('https://fonts.googleapis.com/css?family=Cairo');

* {
	font-family: 'Cairo';
}
body {
	font-family: 'Cairo' sans-serif;
}

div {

	box-sizing: border-box;
}

header,
section,
footer,
.header-wrapper {
	width: 100%;
}

header {
	height: 700px;
	background-image: url(../images/WebSite.png);
	background-repeat-y: no-repeat;
	background-repeat-x: no-repeat;
	background-size: cover; 
}

#download h1 {
	margin-top: 0;
	font-family: 'Cairo';
	text-align: center;
	padding-top: 200px;
	color: #fff;
	font-size: 60pt;
}

#download p {
	font-family: 'Cairo';
	text-align: center;
	color: #fff;
	font-size: 24pt;

}

#download p > a {
	margin-top: 75px;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
	border: 2px solid #489ca3;
	color: #fff;
	width: 330px;
	height: 60px;
	border-radius: 30px;
}

#download p > a:hover,
#download p > a:active {
	background-color: #489ca3;
}

#download .remark {
	font-size: 12pt;
}

.icon-wrapper {
	margin-top: 120px; 
	width: 95px;
	height: 95px;
	border-radius: 50%;
	border: 2px solid #3abccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	margin: 0 auto;
    height: 100%;
    width: 100%;
    
}

.icon-wrapper {
	margin: 0 auto;
	margin-top: 85px;
}

#block-1 .caption {
	font-size: 18pt;
}

 .content {
	font-size: 18pt;
	color: #a4a4a4;
	
}

 #block-2 h2 {
	margin-top: 170px;
	text-align: center;
	font-size: 36pt;
	color: #5fc6c8;
}

#block-2 .content {
	padding-top: 40px;
}

#block-2 img {
	margin-top: 85px; 
}

 #block-3 h2 {
 	margin-top: 160px;
 	text-align: center;
	font-size: 36pt;
	font-weight: bold;
	color: #5fc6c8;
 }

#block-3 p {
	text-align: center;
	font-size: 12pt;
	color: #a4a4a4;

}

#block-3 .caption {
	margin-top: 65px;
	font-size: 18pt;
	text-transform: uppercase;
	color: #444;
	text-align: left;
}

#block-3 .content {
	font-size: 18pt;
	text-align: left;
}

#block-3 .img-wrapper {
	margin-top: 75px;
	margin-left: 60px;
}

 #block-3 .info {
	position: relative;
    left: 60px;
    bottom: 30px;
    font-size: 18pt;
    text-align: left;

}

#block-4 {
	margin-top: 90px;
	background-image: url(../images/DSW.png);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.battles-wisely {
	margin-top: 120px;
	font-size: 36pt;
	text-align: center;
	font-weight: bold;
	color: #5fc6c8;
}

#block-4 .pairtrade-finder {
	padding-top: 40px;
	font-size: 18pt;
	text-align: center;
	font-weight: bold;
	color: #fff; 
}

#block-4 p > a {
	margin-top: 50px;
	margin-bottom: 170px;
	padding: 10px;
    font-size: 18pt;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid #efa46a;
    border-radius: 30px;
    text-decoration: none;
    width: 250px;
    height: 60px;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;	

}

#block-4 img {
	position: relative;
    top: -220px;
    left: 185px;
}

#block-4 p > a:hover,
#block-4 p > a:active {
	background-color: #efa46a;
}

#block-5 {
	margin-top: 105px;
}

#block-5 .caption {
	text-align: center;
}

#block-5 .content {
	margin: 0 auto;
	text-align: left;
}

#block-6  {
	margin-top: 85px; 
	background-color: #f8f8f8;
	height: 100%;
}

#block-6 h2 {
	padding-top: 60px;
	text-align: center;
	font-size: 36pt;
	font-weight: bold;
	color: #5fc6c8; 
}

#block-6 p {
	text-align: center;
	color: #9e9e9e;

}

#block-6 p > a {
	margin-top: 35px;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
	border: 2px solid #489ca3;
	background-color: #489ca3;
	color: #fff;
	width: 330px;
	height: 60px;
	border-radius: 30px;
}

#block-6 .free-trial {
	padding-top: 25px;
	margin-bottom: 80px;
}

footer .img-wrapper {
	position: relative;
    top: 50%;
    left: 50%;
    margin-top: 35px;
}

footer p {
	margin-bottom: 40px;
	padding-left: 20px;
	text-align: center;
	font-size: 12pt;
	color: #9e9e9e;
}